@model IEnumerable<ElectronicManager.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner -->

<div class="banner">
    <div class="banner_background" style="background-image: url(~/Content/images/banner_background.jpg)"></div>
    <div class="container fill_height">
        <div class="row fill_height">
            <div class="banner_product_image">
                <img src="~/Content/images/banner_product.png" alt="">
            </div>
            <div class="col-lg-5 offset-lg-4 fill_height">
                <div class="banner_content">
                    <h1 class="banner_text">Mẫu điện thoại mới nhất</h1>
                    <div class="banner_price"><span>$1199</span>$999</div>
                    <div class="banner_product_name">Apple Iphone 11 Pro Max</div>
                    <div class="button banner_button"><a href="#">Mua ngay</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Characteristics -->

<div class="characteristics">
    <div class="container">
        <div class="row">

            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">

                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon">
                        <img src="~/Content/images/char_1.png" alt="">
                    </div>
                    <div class="char_content">
                        <div class="char_title">Miễn phí vận chuyển</div>
                        <div class="char_subtitle">cho đơn hàng > 500 000 đ</div>
                    </div>
                </div>
            </div>

            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">

                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon">
                        <img src="~/Content/images/char_2.png" alt="">
                    </div>
                    <div class="char_content">
                        <div class="char_title">Đổi trả sản phẩm</div>
                        <div class="char_subtitle">trong vòng 7 ngày</div>
                    </div>
                </div>
            </div>

            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">

                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon">
                        <img src="~/Content/images/char_3.png" alt="">
                    </div>
                    <div class="char_content">
                        <div class="char_title">Ưu đãi</div>
                        <div class="char_subtitle">đến 49%</div>
                    </div>
                </div>
            </div>

            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">

                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon">
                        <img src="~/Content/images/char_4.png" alt="">
                    </div>
                    <div class="char_content">
                        <div class="char_title">Giảm giá</div>
                        <div class="char_subtitle">đến 49%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Shop -->

<div class="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

                <!-- Shop Sidebar -->
                <div class="shop_sidebar">
                    <div class="sidebar_section">
                        <div class="sidebar_title">Categories</div>
                        <ul class="sidebar_categories">
                            @Html.Action("Loai", "Home")
                        </ul>
                    </div>
                    <div class="sidebar_section filter_by_section">
                        <div class="sidebar_title">Sắp xếp theo</div>
                        <div class="sidebar_subtitle">Giá</div>
                        <div class="filter_price">
                            <div id="slider-range" class="slider_range"></div>
                            <p>Giá: </p>
                            <p>
                                <input type="text" id="amount" class="amount" readonly style="border: 0; font-weight: bold;">
                            </p>
                        </div>

                    </div>
                    <div class="sidebar_section">
                        <div class="sidebar_subtitle color_subtitle">Màu</div>
                        <ul class="colors_list">
                            <li class="color"><a href="#" style="background: #b19c83;"></a></li>
                            <li class="color"><a href="#" style="background: #000000;"></a></li>
                            <li class="color"><a href="#" style="background: #999999;"></a></li>
                            <li class="color"><a href="#" style="background: #0e8ce4;"></a></li>
                            <li class="color"><a href="#" style="background: #df3b3b;"></a></li>
                            <li class="color"><a href="#" style="background: #ffffff; border: solid 1px #e1e1e1;"></a></li>
                        </ul>
                    </div>
                    <div class="sidebar_section">
                        <div class="sidebar_subtitle brands_subtitle">Hãng</div>
                        <ul class="brands_list">
                            @Html.Action("HangNSX","Home")
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-lg-9">

                <!-- Shop Content -->

                <div class="shop_content">
                    <div class="shop_bar clearfix">
                        <div class="shop_product_count"><span>186</span> Sản phẩm</div>
                        <div class="shop_sorting">
                            <span>Đánh giá theo:</span>
                            <ul>
                                <li>
                                    <span class="sorting_text">Đánh giá<i class="fas fa-chevron-down"></i></span>
										<ul>
                                            <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>Đánh giá</li>
                                            <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>Tên</li>
                                            <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "price" }'>Giá</li>
                                        </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product_grid">
                        <div class="product_grid_border"></div>
                     
                            
                                <!-- Product Item -->
                                @foreach (var item in Model)
                                {
                                    <div class="product_item">
                                        <div class="product_border"></div>
                                        <div class="product_image d-flex flex-column align-items-center justify-content-center">
                                            <a href="@Url.Action("chiTiet", "Home", new { id = item.MaSP })" tabindex="0">
                                                <img src="~/Content/ImgSP/@item.AnhBia" alt="">
                                            </a>
                                        </div>
                                        <div class="product_content">
                                            <div class="product_price">@String.Format("{0:0,0}", item.GiaBan) đ</div>
                                            <div class="product_name"><a href="@Url.Action("chiTiet", "Home", new { id = item.MaSP })" tabindex="0">@item.TenSP</a></div>
                                        </div>
                                        <div class="product_fav"><i class="fas fa-heart"></i></div>
                                        <ul class="product_marks">
                                            <li class="product_mark product_discount"></li>
                                            <li class="product_mark product_new"></li>
                                        </ul>
                                    </div>
                                }
                    </div>

                    <!-- Shop Page Navigation -->

                    <div class="shop_page_nav d-flex flex-row">
                        <div class="page_prev d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-left"></i></div>
                        <ul class="page_nav d-flex flex-row">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">21</a></li>
                        </ul>
                        <div class="page_next d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-right"></i></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

@*<!-- San pham -->

@foreach (var item in Model)
{
    <li>
        <a href="@Url.Action("ChiTiet", "Home", new { id = @item.MaSP})">
            <img alt="@item.TenSP" src="~/Content/ImgSP/@item.AnhBia" width = 300px/>
            <span>@item.TenSP</span>
        </a>
    </li>
}*@

