@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link 
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"   
    />
    <title>Đăng ký</title>
    <link href="~/Content/Login/login.css" rel="stylesheet" />
    @using ElectronicManager.Models
    @model TaiKhoan
</head>
<body>
    <div>
        <div class="container" id="container">
	        <div class="form-container sign-up-container">
                @using (Html.BeginForm("SignIn","User", FormMethod.Post)){
		        <form action="#">
			        <h1>Tạo tài khoản</h1>
			        <div class="social-container">
				        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			        </div>
			        <span>hoặc sử dụng mail của bạn để đăng ký</span>
                    @Html.TextBoxFor(m => m.tenUser) <br />
                    @Html.TextBoxFor(m => m.emailUser) <br />
                    @Html.TextBoxFor(m => m.userUser) <br />
                    @Html.TextBoxFor(m => m.matkhauUser) <br />
			        @*<input type="text" placeholder="Tên" id="ten" name="ten"/> 
			        <input type="email" placeholder="Email" id="email" name="email"/> 
                    <input type="text" placeholder="Tên đăng nhập" id="user" name="user"/> 
			        <input type="password" placeholder="Mật khẩu" id="matkhau" name="matkhau"/>*@
			        <button type="submit">Đăng ký</button>
		        </form>
                }
	        </div>
	        <div class="form-container sign-in-container">
		        <form action="#">
			        <h1>Đăng nhập</h1>
			        <div class="social-container">
				        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			        </div>
			        <span>hoặc sử dụng tài khoản của bạn</span>
                    @Html.DisplayFor(m => m.tenUser)
                    @Html.DisplayFor(m => m.matkhauUser)
			        @*<input type="text" placeholder="Tên đăng nhập" />
			        <input type="password" placeholder="Mật khẩu" />*@
			        <a href="#">Quên tài khoản?</a>
			        <button type="submit">Đăng nhập</button>
		        </form>
                
	        </div>
	        <div class="overlay-container">
		        <div class="overlay">
			        <div class="overlay-panel overlay-left">
				        <h1>Chào mừng trở lại!</h1>
				        <p>Vui lòng đăng nhập với thông tin cá nhân của bạn</p>
				        <button class="ghost" id="signIn">Đăng nhập</button>
			        </div>
			        <div class="overlay-panel overlay-right">
				        <h1>Xin chào!</h1>
				        <p>Đăng ký để kết nối với chúng tôi</p>
				        <button class="ghost" id="signUp">Đăng ký</button>
			        </div>
		        </div>
	        </div>
        </div>
    </div>
    <script src="~/Content/Login/login.js"></script>
</body>

</html>
